<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PGtraining.FileImportService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <log4net>
    <appender name="DailyAppender" type="log4net.Appender.RollingFileAppender">
      <File value="C:\ProgramData\testApplication\log\" />
      <DatePattern value='yyyyMMdd".log"' />
      <StaticLogFileName value="false" />
      <RollingStyle value="date" />
      <AppendToFile value="true" />
      <MaximumFileSize value="10MB" />
      <MaxSizeRollBackups value="30" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] (%method) - %message%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <LevelMax value="FATAL" />
        <LevelMin value="DEBUG" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="DailyAppender" />
    </root>
  </log4net>
  <userSettings>
    <PGtraining.FileImportService.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=DESKTOP-422HNHF\SQLEXPRESS;Initial Catalog = PGtrainingSimpleRis; User ID = sa; Password=us@dmin</value>
      </setting>
      <setting name="TargetFolderPath" serializeAs="String">
        <value>C:\sampleData\0_target</value>
      </setting>
      <setting name="FileNamePattern" serializeAs="String">
        <value>*.csv</value>
      </setting>
      <setting name="ProcessingInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ReprocessingTimes" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ErrorFolderPath" serializeAs="String">
        <value>C:\sampleData\2_error</value>
      </setting>
      <setting name="SuccessFolderPath" serializeAs="String">
        <value>C:\sampleData\1_success</value>
      </setting>
    </PGtraining.FileImportService.Properties.Settings>
  </userSettings>
</configuration>